@page "/"

<PageTitle>Home</PageTitle>

<h1>Karto</h1>
@* <img src="DrawComponent.svg" alt="The SVG Image" /> *@


<p>Welcome to your new Mobile Experience.</p>

<ComponentAppFastRazorClassLibrary.FastDeffinitionComponent />