@using System.Text


<div class="">@htmlListSnippet</div>
<ln/>
<div class="mt-4"> F A S T  stands for:</div>

<ul>
    <li>
        Forget
    </li>
    <li>
        Active
    </li>
    <li>
        State
    </li>
    <li>
        Teach
    </li>
</ul>

<img src="~/DrawComponent.svg" alt="The SVG Image" />
<br/>
<strong> The snippet for the former code:</strong>
<div class="zebra-area">@htmlDynamicListSnippet</div>

<div class="border-area">
    This Component is defined in the <strong>ComponentAppFastRazorClassLibrary</strong> library.
</div>