@using System.Text
<div class="my-component">
    This Component is defined in the <strong>ComponentAppFastRazorClassLibrary</strong> library.
</div>

<div> F A S T  stands for:</div>

<ul>
    <li>Forget</li>
    <li>Active</li>
    <li>State</li>
    <li>Teach</li>

</ul>

<div> @htmlSnippet</div>
<div>@htmlListSnippet</div>


@code{
}